<div class="container">
  <p> Dear Customer,</p>

  <p> Thank you for payment for your subscription</p>

  <p> You can view your invoice by clicking on the link below </p>
  <p> <%= @hosted_invoice_link %></p>

  <div class="text-center"><h5>OR</h5></div>

  <p> You can download invoice in PDF by clicking on the link below </p>
  <p> <%= @pdf_invoice_link %></p>
</div>
