<tr>
  <td><%= subscription_features.name %></td>
   <td>US$ <%= subscription_features.unit_price %></td>
   <td><%= subscription_features.max_unit_limit %></td>
   <td><%= subscription_feature_usage(subscription, subscription_features)%></td>
</tr>
