// Place all the styles related to the featrues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title{
  background-color: rgb(255, 255, 255);
  padding: 15px;
  margin-bottom: 20px;
}


