@import "_bootstrap";
@import "./admin/sidebar.scss";
@import "./admin/featrues.scss";
@import "./admin/nav.scss";
@import "./admin/subscriptions.scss";

.main-content-area{
  position: absolute;
  top: 100px;
  left: 250px;
  width: calc(100% - 250px);
}
